.footer_container {
    overflow: hidden;
    // display: flex;
}

.div_test {
    // position: absolute;
    background-color: greenyellow;
}

.div-test2 {
    display: flex;
    justify-content: center;
}

.footer_hero_img {
    opacity: 0.25;
    max-width: 100%;
    position: relative;
}